<%- include('partials/header.ejs')%>
<%- include('partials/homenavbar.ejs')%>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo!</h1>
            <h3>Eu sou Rafael Rufino</h3>
            <h4> Analista de sistemas, formado em Técnico de redes de computadores e informática para internet!</p>
            <p class="lead">Esse é meu Blog pessoal, onde compartilho um pouco do meus conhecimentos na área de Tecnologia!</h4>
            <hr class="my-4">
            <p>Assuntos com Programação, Redes de computadores, Devops, Inteligencia artificial e Infraestrutura !!</p>
            <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a> -->
          </div>
        <hr>
      
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %> </h2>

                </div>
                <div class="card-body">
                 
                    <a href="/<%= article.slug %>" class="btn btn-success ">Ler artigo</a>
                   
                </div>
            </div>
            <br>

          <% }) %>
          <div class="row">
              <div class="col col-12">
                  <a style="float:right;" href="/articles/page/2">Next >>></a>
              </div>
              <hr>
          </div>
          <hr>
    </div>

</body>

<%- include('partials/footer.ejs')%>
